* {
    box-sizing: border-box;
}
#myInput {
    background-image: url("../img/ic_search.png");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 15px 20px 15px 50px;
    margin-bottom: 12px;
}
#myUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#myUl li a {
    border: 1px solid #DDDDDD;
    margin-top: -1px;
    background-color: #F6F6F6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
#myUl li a.header {
    background-color: #e2e2e2;
    cursor: default;
}
#myUl li a:hover:not(.header) {
    background-color: #EEEEEE;
}